body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 95ch;
    margin-inline: auto;
    padding-left: 5ch;
    padding-right: 5ch;
  }

nav {
    display: flex;
    margin-bottom: 1em;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom: 1px solid var(--border-color);
  }

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
  font-weight: bold;
}

:root {
  --color-accent: oklch(55% 30% 300);
}

html {
  color-scheme: light dark;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form input, form textarea, form button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: contents;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 1em;
}

.projects article h2 {
  margin: 0;
}

.projects article h3 {
  margin: 0;
  font-weight: initial ;
  text-align: right;
  font-size: 1.1em;
  color: #666;
  font-family: 'Baskerville';
  /* font-variant-numeric: oldstyle-nums; */
}

/* .projects article img {
  width: 100%;
  aspect-ratio: 2 / 1;
  max-height: 154px;
  object-fit: cover;
} */
h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

section {
  margin: 25px 0;
  padding: 20px;
  background-color:#d9a0a0;
}

time {
  font-size: 0.9em;
  color: #403f3f;
}

ul li {
  margin-bottom: 5px;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  /* gap: 10px;
  font-size: 16px;
  max-width: 600px;*/
  margin: auto;
}

#profile-stats dt {
  grid-row: 1;
  font-size: 0.9rem;
  color: #666;
  text-transform: uppercase;
  text-align: left;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
  font-size: 1.2 rem;
  text-align: left;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  }

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  list-style-type: none;
  gap: 0.6rem;
  padding: 1rem;
  border: 1px solid #ccc;
  margin: auto;
  flex: 1;
}

.li_item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.swatch {
  width: 15px;
  aspect-ratio: 1 / 1;
  background: var(--color);
  border-radius: 50%;
  display: inline-flex;
}

.searchBar {
  width: 100%;
  margin: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(2.9% 0.0049 118) !important;

  &:is(path) {
    fill: var(--color);
  }
}

#stats dl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin: auto;
}

#stats dt {
  grid-row: 1;
  font-size: 1.1rem;
  color: #666;
  text-transform: uppercase;
  text-align: left;
}

#stats dd {
  grid-row: 2;
  margin: 0;
  font-size: 1.8rem;
  text-align: left;
}